@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;400;700&family=Barlow:wght@100;400;700&family=Bellefair&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../Assets/Images/background.png");
  background-repeat: no-repeat;
  background-color: #12151f;
  background-size: cover;
  color: white;
}
body header {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0 2rem 2.5rem;
  font-family: "Barlow Condensed", sans-serif;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 16px;
}
body header .header__logo:hover {
  cursor: pointer;
}
body header .header__menu img {
  width: 2rem;
}
body header .header__menu ul {
  list-style: none;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  padding: 0 5rem 0 3rem;
  width: 50rem;
}
body header .header__menu ul li {
  padding: 0 2rem;
  font-weight: 100;
  padding: 0rem 3rem;
}
body header .header__menu ul li:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
}
body header .header__menu ul li .tabContainer {
  padding: 2rem 0;
}
body header .header__menu ul li .tabContainer a {
  text-decoration: none;
  color: white;
}
body header .header__menu ul li .tabContainer a span {
  font-weight: 800;
  margin-right: 5px;
}
body header .header__menu ul .activeTab .tabContainer {
  border-bottom: white 3px solid;
}
body header .header__menu .menu-line {
  position: relative;
  display: flex;
  top: 50%;
  right: 67%;
}
body header .header__menu .menu-line img {
  width: 70%;
}
body main {
  font-family: "Barlow Condensed", sans-serif;
  font-family: "Barlow Condensed", sans-serif;
  height: 100%;
}
body main h1 {
  padding-left: 5rem;
}
body main h1 span {
  opacity: 0.25;
  margin-right: 1rem;
}
body main .app {
  padding: 7rem 4rem 0;
  display: flex;
  justify-content: space-evenly;
}
body main .app .app__image {
  flex: 1 1 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40%;
}
body main .app .app__image img {
  width: 55%;
}
body main .app .app__info {
  flex: 1 1 0px;
}
body main .app .app__info ul {
  list-style: none;
  display: flex;
}
body main .app .app__info ul .activeDest {
  border-bottom: 2px solid white;
}
body main .app .app__info ul li {
  margin: 0 2rem;
  padding-bottom: 0.5rem;
}
body main .app .app__info ul li:hover {
  cursor: pointer;
  font-weight: 700;
}
body main .app .app__info h2 {
  font-size: 100px;
  font-family: "Bellefair", serif;
  margin: 3rem 0 1rem;
}
body main .app .app__info .description {
  font-size: 18px;
  width: 60%;
  padding-bottom: 2rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid gray;
  text-align: justify;
}
body main .app .app__info .metrics {
  width: 60%;
  display: flex;
  justify-content: space-around;
  font-family: "Barlow Condensed", sans-serif;
  margin-bottom: 3rem;
}
body main .app .app__info .metrics span {
  color: #d0d6f9;
}
body main .app .app__info .metrics h3 {
  font-size: 28px;
  font-family: "Bellefair", serif;
  font-weight: 400;
  margin-top: 0.5rem;
}

@media (max-width: 1080px) {
  body main .app .app__info .description {
    width: 80%;
  }
  body main .app .app__info .metrics {
    width: 80%;
  }
}
@media (max-width: 800px) {
  body main h1 {
    text-align: center;
    padding-left: 0;
  }
  body main .app {
    flex-direction: column;
    padding: 3rem 2rem 0;
  }
  body main .app .app__image {
    margin-bottom: 2rem;
  }
  body main .app .app__info {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  body main .app .app__info ul li {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    -moz-user-select: none;
         user-select: none; /* Standard syntax */
  }
  body main .app .app__info .metrics {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  body main .app .app__info .metrics .metrics__distance {
    margin-bottom: 1rem;
  }
}/*# sourceMappingURL=styles.css.map */