@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;400;700&family=Barlow:wght@100;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../Assets/Images/background.png");
  background-repeat: no-repeat;
  mix-blend-mode: screen;
  background-color: #12151f;
  width: 100vw;
  height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;

  header {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0 2rem 2.5rem;
    font-family: "Barlow Condensed", sans-serif;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 16px;

    .header__menu {
      img {
        width: 2rem;
      }

      ul {
        list-style: none;
        background-color: rgba($color: #ffffff, $alpha: 0.1);
        display: flex;
        padding: 0 5rem 0 3rem;
        width: 50rem;

        li {
          &:hover {
            cursor: pointer;
            background-color: rgba($color: #ffffff, $alpha: 0.2);
          }
          padding: 0 2rem;
          font-weight: 100;
          padding: 0rem 3rem;

          .tabContainer {
            padding: 2rem 0;
            a {
              text-decoration: none;
              color: white;

              span {
                font-weight: 800;
                margin-right: 5px;
              }
            }
          }
        }

        .activeTab {
          .tabContainer {
            border-bottom: white 3px solid;
          }
        }
      }

      .menu-line{
        position: relative;
        display: flex;
        // background-color: gray;
        top: 50%;
        right: 67%;
        // height: 100%;

        img{
            width: 70%;
        }
      }
    }
  }
}
